#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  background-repeat:no-repeat;
  background-size:cover;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

div.jumbotron.text-center{
  padding-top: 35px;
  color: white;
  background-color: transparent;
  text-shadow: 2px 2px 2px black;
}

.g-icon{
  padding-top: 30%;
}

.g-icon:hover{
  cursor: pointer;
}

p#intro-content{
  font-size: 27px;
  letter-spacing: 1px;
  padding-top: 20px;
}